<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.Ads" version="4.3.14" targetFramework="net48" />
  <package id="Inxton.Package.Vortex.Essentials" version="0.171.0-preview.2" targetFramework="net48" />
  <package id="Inxton.Vortex.Adapters.Connector.Tc3" version="0.117.0-preview.1" targetFramework="net48" />
  <package id="Inxton.vortex.compiler.console" version="0.117.0-preview.1" targetFramework="net48" />
  <package id="Inxton.Vortex.Connector" version="0.117.0-preview.1" targetFramework="net48" />
  <package id="Inxton.Vortex.Framework.Abstractions" version="0.120.0-preview.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Serilog" version="2.8.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net48" />
</packages>