# ValidationResult Properties
 _**\[This is preliminary documentation and is subject to change.\]**_

The <a href="T_Vortex_Connector_ValueValidation_ValidationResult.md">ValidationResult</a> type exposes the following members.


## Properties
&nbsp;<table><tr><th></th><th>Name</th><th>Description</th></tr><tr><td>![Public property](media/pubproperty.gif "Public property")</td><td><a href="P_Vortex_Connector_ValueValidation_ValidationResult_IsValid.md">IsValid</a></td><td>
Gets resutl of the validation. When true validation is valid.</td></tr><tr><td>![Public property](media/pubproperty.gif "Public property")</td><td><a href="P_Vortex_Connector_ValueValidation_ValidationResult_ValidationErrorTip.md">ValidationErrorTip</a></td><td>
Gets infomation about the validation errror.</td></tr></table>&nbsp;
<a href="#validationresult-properties">Back to Top</a>

## See Also


#### Reference
<a href="T_Vortex_Connector_ValueValidation_ValidationResult.md">ValidationResult Class</a><br /><a href="N_Vortex_Connector_ValueValidation.md">Vortex.Connector.ValueValidation Namespace</a><br />